# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# ABI handling
# First, don't ignore the abi directory itself
!/abi/
# Then ignore all contents of abi directory
/abi/*
# Finally whitelist specific files
!/abi/AddressFeeSplitManager.json
!/abi/AnyMarketCappedPrice.json
!/abi/AnyMarketCappedPriceV3.json
!/abi/AnyBidWall.json
!/abi/AnyFlaunch.json
!/abi/AnyPositionManager.json
!/abi/BidWall.json
!/abi/BurnTokensAction.json
!/abi/BuyBackAction.json
!/abi/BuyBackAndBurnFlay.json
!/abi/BuyBackManager.json
!/abi/ClaimFeesAction.json
!/abi/ClankerWorldVerifier.json
!/abi/ClosedPermissions.json
!/abi/DistributeAction.json
!/abi/DopplerVerifier.json
!/abi/DynamicFeeCalculator.json
!/abi/DynamicFeeCalculatorV2.json
!/abi/ERC721OwnerFeeSplitManager.json
!/abi/FairLaunch.json
!/abi/FastFlaunchZap.json
!/abi/FeeEscrow.json
!/abi/FeeEscrowRegistry.json
!/abi/FeeExemptions.json
!/abi/FeeSplitManager.json
!/abi/Flaunch.json
!/abi/FlaunchFeeExemption.json
!/abi/FlaunchZap.json
!/abi/FlayBurner.json
!/abi/FlayHooks.json
!/abi/GroupMapper.json
!/abi/HypeFeeCalculator.json
!/abi/IndexerSubscriber.json
!/abi/InitialPrice.json
!/abi/MarketCappedPrice.json
!/abi/MarketCappedPriceV3.json
!/abi/Memecoin.json
!/abi/MemecoinTreasury.json
!/abi/MerkleAirdrop.json
!/abi/Notifier.json
!/abi/PauseCalculator.json
!/abi/PoolSwap.json
!/abi/PositionManager.json
!/abi/PreventNoFairLaunch.json
!/abi/ProtocolFeeRecipient.json
!/abi/ReferralEscrow.json
!/abi/RevenueManager.json
!/abi/SnapshotAirdrop.json
!/abi/StaticFeeCalculator.json
!/abi/StakingManager.json
!/abi/TokenImporter.json
!/abi/TreasuryActionManager.json
!/abi/TreasuryManagerFactory.json
!/abi/TrustedSignerFeeCalculator.json
!/abi/WhitelistedPermissions.json
!/abi/WhitelistFairLaunch.json
!/abi/WhitelistVerifier.json
!/abi/VirtualsVerifier.json
!/abi/ZoraVerifier.json

# node
node_modules/

# Docs

# Dotenv file
.env

# OS Files
.DS_Store
